:root { 
--blue_gray_100:#d3d8dc; 
--blue_gray_400:#8b8b8b; 
--gray_800:#434343; 
--indigo_50:#eaebf3; 
--gray_900:#191919; 
--gray_800_02:#414141; 
--indigo_50_b0:#eaebf3b0; 
--gray_800_01:#474747; 
--teal_50:#d9eaf4; 
--black_900_3f:#0000003f; 
--gray_50:#f4f5ff; 
--light_blue_800:#0071bc; 
--blue_gray_100_6c:#d9d9d96c; 
--black_900:#000000; 
--indigo_50_01:#e9eaf2; 
--blue_100:#c9dcf5; 
--white_A700:#ffffff; 
--black_900_49:#00000049; 
--black_900_26:#00000026; 
}