@media (max-width: 1050px){
.md\:left-\[258px\] {
    left: 45px !important;

}


.md\:left-\[263px\] {
    left: 50px !important;
    white-space: nowrap !important;

}

}


@media (max-width: 550px) {
.sm\:ml-\[46px\] {
    margin-left: -145px !important;
}
.fff{
    position: relative !important;
    top: 600px !important;
}
}
.sm\:text-4xl {
    margin-bottom: 50px;
}

.text-container {
    white-space: nowrap;
  }
  
  @media (max-width: 640px) {
    .text-container {
      white-space: wrap; /* Reset white space for smaller screens */
    }
.footer{
   margin-bottom: 500px;
   top: 100px;
    position: relative;
    
}
.footer .img-tp{
    position: relative;
    bottom: 350px;
}
.text-container{
    position: relative;
    bottom: 350px;
}
.social-items{
    position: relative;
    bottom: 350px;  
}
.ra2y{
    position: relative;
    bottom: 160px;
}
.ra2yy{
    position: relative;
    bottom: 300px;
}
.ra2yyy{
    position: relative;
    bottom: 290px; 
}
.contact{
    position: relative;
    top: 590px;
}
.testemonials{
    position: relative;
    top: 250px;
}
.services{
    position: relative;
    top: 300px
}
.imagess{
    position: relative;
    top:-350px !important; 
}
.sm\:text-\[34px\] {
    position: relative;
    top: 300px !important;
}

.sm\:text-\[41\.33px\] {
    font-size: 32.33px;
}
.text-first{
    position: absolute;
margin-top: 40px !important;
    font-size: 25.33px !important;
}
.text-second{
    position: absolute !important;
 right: 40px;
 margin-top: 110px !important;

 font-size: 15.33px !important;

 }
 .sm\:text-\[16\.1px\] {
    font-size: 10.1px;
    white-space: nowrap; /* Reset white space for smaller screens */

}

  }

  .text-\[55\.33px\] {
    font-size: 55.33px;
    z-index: 9999 !important;
margin-top: 150px;

}
.text-\[20\.1px\] {
    z-index: 9999 !important;
    font-size: 20.1px;
    margin-top: 300px;
  
}


@media (max-width: 1050px) {
    .md\:left-\[258px\] {
        left: 58px !important;
    }
    
    }


    @media (max-width: 550px) {
.iiframe {
    height: 300px !important;
    overflow: hidden !important;
}
}


@media (max-width: 550px){
.sm\:bottom-\[50px\] {
    bottom: 4px !important;
}
}
@media (max-width: 1050px) {
.md\:gap-10 {
    gap: 2.5rem;
   position: relative;
   top: 160px;
}

}

@media (max-width: 1050px) {
.md\:top-\[50px\] {
    top: -270px !important;
}
}