@media (max-width: 1050px){
.md\:left-\[258px\] {
    left: 45px !important;

}


.md\:left-\[263px\] {
    left: 50px !important;
    white-space: nowrap !important;

}

}

.md\:left-\[258px\] {
    position: relative !important;
top: 10px !important;
}


.md\:left-\[263px\] {
    position: relative !important;
top: 10px !important;
}
body{
    background-color: #d2d8de;
}
.bg-gradient1 {
    background-image: none !important;
}

.text-container {
    white-space: nowrap;
  }
  
  @media screen and (max-width: 768px) {
    .text-container {
        white-space: normal;
    }
    .ra2y {
        position: static; /* Reset position for smaller screens */
        left: auto !important; /* Reset right property for smaller screens */
        margin-right: auto !important;
    }
    .ra2yy{
        position: static; /* Reset position for smaller screens */
        left: auto !important; /* Reset right property for smaller screens */
    }
    .ra2yyy{
        position: static; /* Reset position for smaller screens */
        left: auto !important; /* Reset right property for smaller screens */
    }
  
    .sss{
        width: 100% !important;
    }
    .yaaa{
      margin-top: 200px !important;
    }
    .md\:left-\[258px\]{
        margin-bottom: 320px !important;
     
    }
    .text-first{
        font-size: 25px !important;
    }
    .text-second{
        font-size: 10px !important;
       white-space: wrap;
    }
    .iiframee{
       margin-right: auto;
       margin-left: auto;
        max-width: 70%;
        width: auto !important;
        max-height: 100% !important;
        height: 300px !important;
    }
    .iiframe{
        height: 100% !important;
    }
    .what-we-do{
        margin-top: 150px;
    }
    .dsads{
        margin-bottom: 200px;
    }
    .top .go {
        width:100% !important;
        object-fit: cover !important;

        
                }
                .framee{
                    display: none;
                }
 
}

@media only screen and (min-width: 769px) and (max-width: 1023px) {    
    .iiframee{
        margin-right: auto;
        margin-left: auto;
         max-width: 100%;
         width: 60% !important;
         max-height: 100% !important;
         height: 400px !important;
     }
     .iiframe{
         height: 100% !important;
     }
     .what-we-do{
        margin-top: 150px;
    }


}