@media (max-width: 640px) {

.tryyyy{
    

}
.two-inputs{
    display: flex;
    flex-direction: column;
}
.sss{
    width: 350px !important;
    margin-bottom:2000px !important;

}
.sss:active{
    margin-bottom: 1000px !important;

}
.names{
    width: 100% !important;
    min-width: 308px !important;
}
}

.custom-checkbox .ant-checkbox-inner {
    background-color: transparent;
  
  }
  .custom-checkbox .ant-checkbox-checked .ant-checkbox-inner::after {
    border-color: #abb4b9; /* Change the color of the checkmark (arrow) */
   
  }